@import "tailwindcss";
@import "@heroui/styles";

/* swiper styles */
@import 'swiper/css';
@import 'swiper/css/free-mode';
@import 'swiper/css/pagination';

.swiper-button-next,
.swiper-button-prev {
    width: 30px !important;
    height: 30px !important;

    padding: 5px !important;

    border: 1px solid black;
    background: white !important;
    color: black !important;

    border-radius: 0 !important;

    display: flex !important;
    align-items: center;
    justify-content: center;
}

/* arrow icon */
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 12px !important;
    font-weight: 700 !important;
}

/* hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: white !important;
}

/* spacing outside slider
.swiper-button-prev {
    left: -15px !important;
}

.swiper-button-next {
    right: -15px !important;
} */
